# Variaveis do Bot Framework

MICROSOFT_APP_ID=
MICROSOFT_APP_PASSWORD=

SMTP_SERVER=""
SMTP_PORT=""
SMTP_USERNAME=""
SMTP_PASSWORD=""

NODE_ENV=

TRELLO_API_KEY=
TRELLO_USER_TOKEN=
TRELLO_LIST_ID_1=
TRELLO_LIST_ID_2=
TRELLO_LIST_ID_3=

GOOGLE_SPREADSHEET_ID=
GOOGLE_WORKSHEET_ID=

MAILCHIMP_API_URI=
MAILCHIMP_API_USER=
MAILCHIMP_API_KEY=

DIALOGFLOW_TOKEN=
